.container-fluid{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 0.5rem 1rem;
}

.btn-log{
    float:right;
    color: white;
    background-color: #E8751A;
    border-radius: 2px;
}
.navbar{
    /* padding-top: 4px; */
    font-weight: 700;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    
}
